.main {
    max-width: 1440px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

.main section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    padding: 20px;
    border: 1px solid blue;
    border-radius: 15px;
}

.user {
    width: 95px;
    height: 95px;
    color: blue;
}

@media (max-width: 900px) {
    .main h1 {
        font-size: 1rem;
    }

    .user {
        width: 75px;
        height: 75px;
    }
}