.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    padding: 20px;
    border: 1px solid blue;
    border-radius: 15px;
}

.user {
    width: 95px;
    height: 95px;
    color: blue;
}

@media (max-width: 900px) {
    .section {
        padding: 40px;
    }

    .section h1 {
        font-size: 1rem;
    }

    .user {
        width: 75px;
        height: 75px;
    }
}