.formlogin,
.formuser,
.formhelper,
.formdriver,
.formvehicle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.formlogin input[type=text],
.formlogin input[type=password],
.formuser input[type=text],
.formuser input[type=password],
.formuser input[type=number],
.formhelper input[type=text],
.formhelper input[type=number],
.formdriver input[type=text],
.formdriver input[type=number],
.formvehicle input[type=text],
.formvehicle input[type=number] {
    border: none;
    background-color: #E7E7E7;
    border-radius: 5px;
    padding: 5px 5px 5px 10px;
}

.formlogin input[type=text]::placeholder,
.formlogin input[type=password]::placeholder,
.formuser input[type=text]::placeholder,
.formuser input[type=password]::placeholder,
.formuser input[type=number]::placeholder,
.formhelper input[type=text]::placeholder,
.formhelper input[type=number]::placeholder,
.formdriver input[type=text]::placeholder,
.formdriver input[type=number]::placeholder,
.formvehicle input[type=text]::placeholder,
.formvehicle input[type=number]::placeholder  {
    font-weight: bold;
}

.formlogin input[type=submit],
.formuser input[type=submit],
.divbtnuser button,
.formhelper input[type=submit],
.divbtnhelper button,
.formdriver input[type=submit],
.divbtndriver button,
.formvehicle input[type=submit],
.divbtnvehicle button {
    font-size: 1rem;
    color: white;
    font-weight: bold;
    background-color: blue;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: all .4s ease-in-out;
}

.formlogin input[type=submit]:hover,
.formuser input[type=submit]:hover,
.formhelper input[type=submit]:hover,
.formdriver input[type=submit]:hover,
.formvehicle input[type=submit]:hover,
.formuser .divbtnuser button:hover,
.formhelper .divbtnhelper button:hover,
.formdriver .divbtndriver button:hover,
.formvehicle .divbtnvehicle button:hover {
    background-color: cornflowerblue
}

.formlogin input[type=submit]:active,
.formuser input[type=submit]:active,
.formhelper input[type=submit]:active,
.formdriver input[type=submit]:active,
.formvehicle input[type=submit]:active,
.formuser .divbtnuser button:active,
.formhelper .divbtnhelper button:active,
.formdriver .divbtndriver button:active,
.formvehicle .divbtnvehicle button:active {
    background-color: blue;
}

.formuser label,
.formhelper label,
.formdriver label {
    display: flex;
    font-size: .79rem;
    color: grey;
}

.divbtnuser,
.divradiususer,
.divbtnhelper,
.divradiushelper,
.divbtndriver,
.divradiusdriver,
.divbtnvehicle {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.divuserbuilding,
.divhelperbuilding,
.divdriverbuilding {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.divpass {
    position: relative;
    display: flex;
    align-items: center;
}

.divpass button {
    position: absolute;
    right: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    cursor: pointer;
}

.divcods {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.iconpasson {
    width: 20px;
    height: 20px;
}

.formdonation {
    max-width: 790px;
    display: flex;
    flex-direction: column;
    font-size: .77rem;
    transition: all .4s ease-in-out;
}

.formdonation legend,
.formdonor legend {
    text-shadow: 1px 1px 0.5px #AAF998;
    padding-bottom: 5px;
    transition: all .4s ease-in-out;
    margin: 0 auto;
}

.formdonation label,
.formdonor label {
    color: grey;
    padding-left: 5px;
}

.formdonation input[type=text],
.formdonor input[type=text],
.formdonor input[type="number"],
.formdonor input[type="tel"],
.formdonor input[type="password"],
.formdonor textarea {
    height: 30px;
    border: 1px solid #D2D4DE;
    border-radius: 5px;
    padding: 0 5px;
    outline: none;
    margin-bottom: 5px;
    transition: all .4s ease-in-out;
}

.formdonation input[type=text] {
    max-width: 280px;
}

.formdonation input[type=text]:focus,
.formdonor input[type=text]:focus,
.formdonor input[type="number"]:focus,
.formdonor input[type="tel"]:focus,
.formdonor input[type="password"]:focus,
.formdonor textarea:focus,
.formdonation textarea:focus {
    border: 1px solid hsla(205.46, 86.5%, 46.47%, .5);
    box-shadow: 0 0 5px hsla(205.46, 86.5%, 46.47%, .5);
}

.formdonation textarea {
    width: 780px;
    height: 70px;
    border: 1px solid #D2D4DE;
    border-radius: 5px;
    padding: 5px;
    outline: none;
    resize: none;
    margin-bottom: 5px;
    transition: all .4s ease-in-out;
}

.formdonor textarea {
    height: 70px;
    resize: none;
    padding: 5px;
}

.formdonation input[type=search]:focus {
    border: 1px solid hsla(205.46, 86.5%, 46.47%, .5);
    box-shadow: 0 0 5px hsla(205.46, 86.5%, 46.47%, .5);
}

.formdonation input.required:focus {
    border: 1px solid hsla(332.47, 100%, 50%, .5);
    box-shadow: 0 0 5px hsla(332.47, 100%, 50%, .5);
}

.formdonation input.required,
.formdonor input.required {
    border: 1px solid hsla(332.47, 100%, 50%, .5);
    background: url(../../../assets/ponto-de-exclamacao.png) right 2% bottom 50% no-repeat;
    background-size: 20px;
}

.formdonor textarea.required {
    border: 1px solid hsla(332.47, 100%, 50%, .5);
}

.formdonor input.required:focus,
.formdonor textarea.required:focus {
    border: 1px solid hsla(332.47, 100%, 50%, .5);
    box-shadow: 0 0 5px hsla(332.47, 100%, 50%, .5);
}

.formdonation .required::placeholder,
.formdonor .required::placeholder {
    font-style: italic;
    color: hsla(332.47, 100%, 50%, .5);
}

.divobjprimary {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    transition: .3s ease-in-out;
}

.divobjqtd {
    display: flex;
    gap: 5px;
    transition: .3s ease-in-out;
}

.divobj {
    display: flex;
    flex-direction: column;
    transition: .3s ease-in-out;
}

.divobj input[type=text] {
    width: 230px;
}

.divqtd {
    display: flex;
    flex-direction: column;
    transition: .3s ease-in-out;
}

.divqtd input[type="text"] {
    width: 150px;
    transition: .3s ease-in-out;
}

.divbtn {
    display: flex;
    justify-content: space-evenly;
}

.inputsubmit {
    background-color: #AAF998;
    border-radius: 5px;
    text-shadow: 1px 1px 0.5px #79D1FF;
    padding: 5px 10px;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.inputsubmit:hover {
    background-color: #79D1FF;
    text-shadow: 1px 1px 0.5px #AAF998;
}

.formdonor {
    width: 280px;
    display: flex;
    flex-direction: column;
    font-size: .77rem;
    transition: all .4s ease-in-out;
}

.divradius {
    display: flex;
    padding: 10px 0;
    justify-content: center;
}

.divradius input[type="radio"],
.divradius label {
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.divradius label {
    padding-right: 15px;
}
.divradius label:hover {
    color: hsla(205.46, 86.5%, 46.47%, .5);
}

.divcoddonor,
.divcnpj,
.divbuilding {
    display: flex;
    flex-direction: column;
}

.formdonor input::-webkit-outer-spin-button,
.formdonor input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.formdonor fieldset {
    display: flex;
    flex-direction: column;
}

@media (max-width: 1340px) {
    .formdonation {
        max-width: 390px;
    }

    .formdonation textarea {
        width: 385px;
    }
}

@media (max-width: 480px) {
    .formdonation {
        width: 280px;
    }

    .formdonation textarea {
        width: 280px;
    }

    .divobjqtd {
        flex-wrap: wrap;
        gap: 0;
    }

    .divobj,
    .divqtd {
        width: 100%;
    }

    .divobj input[type=text] {
        width: 280px;
    }

    .divqtd input[type="text"] {
        width: 100%;
    }
}